
<div class="example-button-row"><button type="button" class="btn btn-warning"  (click)="generatePdf()">Télecharger</button></div>

<h1 class="tex">Reservation Table en détails</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nom Client</th>
            <th>Numéro pièce</th>
            <th>Date réservation</th>
            
            <th>Nombre des personnes</th>
        
          
            <th>Numéro de la table</th>

            <th>Typ de service de table</th>
   
         
            <th>Prix Table </th>
   
        </tr>
    </thead>
    <tbody>
        <tr  *ngFor="let dataitem of ListReserTablDet  ">
         
            <td>{{dataitem.t3.nom}}</td>
            <td>{{dataitem.t3.numPiece}}</td>
            <td>{{dataitem.t1.date_reser|date}}</td>
           
            
            <td>{{dataitem.t1.nombrePersonnes}}</td>
       
    
            <td>{{dataitem.t2.numTable}}</td>
            <td>{{dataitem.t2.type}}</td>
            <td>{{dataitem.t2.prix  |  currency : ' TND '}}</td>
    
            
          
       
        </tr>
    </tbody>


</table>

<div class="example-button-row"><button type="button" class="btn btn-warning"  (click)="generatePdfC()">Télecharger</button></div>
<h1 class="tex">Reservation chambre en détails</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nom Client</th>
            <th>Numéro pièce</th>
            <th>Date réservation</th>
          
            <th>Nombre des adultes</th>
            <th>Nombre des enfants</th>
      
          
           

            <th>Numéro Chambre</th>
   
            <th>Type </th>
            <th>Prix Chambre </th>
   
 
         
        </tr>
    </thead>
    <tbody>
        <tr  *ngFor="let dataitem of  ListReservationsDe ">
            <td>{{dataitem.t3.nom}}</td>
            <td>{{dataitem.t3.numPiece}}</td>
            <td>{{dataitem.t1.date_reser|date}}</td>
            
            <td>{{dataitem.t1.nombreAdultes}}</td>
            <td>{{dataitem.t1.nombreEnfants}}</td>

        
         
            
                  <td>{{dataitem.t2.numChambre}}</td>
                  <td>{{dataitem.t2.type}}</td>
                  <td>{{dataitem.t2.prix  |  currency : ' TND '}}</td>
          
       
        </tr>
    </tbody>


</table>




<div class="example-button-row"><button type="button" class="btn btn-warning"  (click)="generatePdfS()">Télecharger</button></div>
<h1 class="tex">Reservation Salle en détails</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nom Client</th>
            <th>Numéro pièce</th>
            <th>Date réservation</th>
            
            <th>Nombre des personnes</th>
        
          
           

            <th>Typ de la Salle</th>
   
         
            <th>Prix Salle </th>
   
        </tr>
    </thead>
    <tbody>
        <tr  *ngFor="let dataitem of ListeReserSalleDet  ">
         
            <td>{{dataitem.t3.nom}}</td>
            <td>{{dataitem.t3.numPiece}}</td>
            <td>{{dataitem.t1.date_reser|date}}</td>
           
            
            <td>{{dataitem.t1.nombrePersonnes}}</td>
       
    
            <td>{{dataitem.t2.type}}</td>
            <td>{{dataitem.t2.prix  |  currency : ' TND '}}</td>
    
            
          
       
        </tr>
    </tbody>


</table>

